@font-face {
  font-family: 'TT Norms Pro';
  src: url('https://cdn.jsdelivr.net/gh/johanna-fageras/static_files@main/assets/fonts/tt-norms-pro/TTNormsPro-VF.woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/johanna-fageras/static_files@main/assets/fonts/tt-norms-pro/TTNormsPro-VF.woff') format('woff-variations'),
    url('https://cdn.jsdelivr.net/gh/johanna-fageras/static_files@main/assets/fonts/tt-norms-pro/TTNormsPro-VF.ttf') format('truetype');
  font-weight: 100 950;
  font-stretch: 75% 125%;
}

body {
  font-family: 'TT Norms Pro';
  font-variation-settings: "wdth" 100, "wght" 441.681, "slnt" 0;
  font-size: 18px;
}